<div class="share-buttons">
  <h4>分享文章</h4>
  <div class="share-buttons-container">
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}" 
       target="_blank" 
       class="share-btn twitter" 
       title="分享到 Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" 
       target="_blank" 
       class="share-btn facebook" 
       title="分享到 Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}" 
       target="_blank" 
       class="share-btn linkedin" 
       title="分享到 LinkedIn">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://t.me/share/url?url={{ page.url | absolute_url | url_encode }}&text={{ page.title | url_encode }}" 
       target="_blank" 
       class="share-btn telegram" 
       title="分享到 Telegram">
      <i class="fab fa-telegram-plane"></i>
    </a>
    <button class="share-btn copy" 
            onclick="copyLink()" 
            title="复制链接">
      <i class="fas fa-link"></i>
    </button>
  </div>
</div>

<script>
function copyLink() {
  var url = window.location.href;
  navigator.clipboard.writeText(url).then(function() {
    var btn = document.querySelector('.share-btn.copy');
    var originalTitle = btn.getAttribute('title');
    btn.setAttribute('title', '已复制!');
    setTimeout(function() {
      btn.setAttribute('title', originalTitle);
    }, 2000);
  }, function() {
    alert('复制失败，请手动复制');
  });
}
</script>
